body{background:#000;color:#fff;font:20px "Press Start 2P";padding:20px}
article{padding:20px;border:1px solid #fff;width:100%;height:100%;box-sizing:border-box}
section{height:100%}
@font-face{font-family:"Press Start 2P";src:url("../fonts/PressStart2P-Regular.ttf")}
