@import('vitor-picks')

body
    background: black
    color: white
    font-size: 2vw
    padding: 0
    margin: 0
    font: 20px "Press Start 2P"

.body-wrapper
	margin: 0 auto
	width: 1024px
	height: 768px
	position: relative

article
	margin: 0 auto
	width: 1024px
	height: 768px
	box-sizing: border-box
	img
		&:first-child
			margin-top: 100px
		&.no-margin, &.lemming
			margin-top: 0
section
	width: 1024px
	height: 768px
	text-align: center
	padding: 20px
	box-sizing: border-box
	display: none
	opacity: 0
	transition: opacity 1s .5s
	&.current
		display: block
		opacity: 1
h1
	font-size: 50px
	line-height: 70px
	&.tilde
		&:before, &:after
			content: '~'
			display: block
	
@font-face
	font-family: "Press Start 2P"
	src: url("../fonts/PressStart2P-Regular.ttf")

@import('gamepad')
@import('animations')
@import('slides')
@import('triforce')