#slide-1
	h1
		text-align: center
		margin-top: 500px

.bullets, .steps
	font-size: 30px
	line-height: 36px
.steps
	width: 800
	text-align: left

.lemming
	position: absolute
	top: 200px
	left: 0

.dashed
	border: 5px dashed white

.dotted
	border: 5px dotted white
	
.gamepad-command
	position: relative
	margin-top: 430px
	font-size: 28px
	z-index: 10
